@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

@layer utilities {

  .btn_white_rounded {
    @apply bg-white px-8 py-4 text-gray-90
  }
 
  .btn_dark_rounded {
    @apply border-light-20 bg-accent px-8 py-4 text-white transition-all hover:bg-black
  }

  /* .btn_green {
    @apply border-green-50 px-8 py-5 text-white
  } */

  .max-container{
    @apply max-w-4xl mx-auto px-12 

  }

  .padding-container {
    @apply max-w-screen-2xl  mx-auto px-12 
  }

  .flex-center {
    @apply flex items-center justify-center
  }

  .flex-between {
    @apply flex items-center justify-between
  }
  .flex-start {
    @apply flex items-center justify-start
  }
  .flex-end {
    @apply flex items-center justify-end
  }

  /* Fonts */

  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }
  .regular-52 {
    @apply text-[52px] font-[400] leading-[120%];
  }
  .regular-48 {
    @apply text-[48px] font-[400] leading-[120%];
  }
  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }
  .regular-32 {
    @apply text-[32px] font-[400];
  }
  .regular-28 {
    @apply text-[28px] font-[400];
  }
  .regular-24 {
    @apply text-[24px] font-[400];
  }
  .regular-20 {
    @apply text-[20px] font-[400];
  }
  .regular-18 {
    @apply text-[18px] font-[400];
  }
  .regular-16 {
    @apply text-[16px] font-[400];
  }
  .regular-14 {
    @apply text-[14px] font-[400];
  }
  .medium-18 {
    @apply text-[18px] font-[600];
  }
  .medium-16 {
    @apply text-[16px] font-[600];
  }
  .medium-14 {
    @apply text-[14px] font-[600];
  }
  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }
  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }
  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }
  .bold-48 {
    @apply text-[48px] font-[700] leading-[120%];
  }
  .bold-44 {
    @apply text-[44px] font-[700] leading-[120%];
  }
  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }
  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }
  .bold-28 {
    @apply text-[28px] font-[700] leading-[120%];
  }
  .bold-22 {
    @apply text-[22px] font-[600];
  }
  .bold-20 {
    @apply text-[20px] font-[600];
  }
  .bold-18 {
    @apply text-[18px] font-[700];
  }
  .bold-16 {
    @apply text-[16px] font-[700];
  }
}